#video {
  display: block;
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.center {
  display: block;
  margin: 0 auto;
}

.right {
  float: right;
  color: grey;
}
